<!DOCTYPE html>



    {% extends "basic_app/base.html" %}
       {% block body_block %}

          
          <h2>This is an example of template inheritance</h2>
          <h1>Welcome to Relative URL Templates</h1>
          <a href="{% url 'basic_app:other' %}">Other Page</a><br>
          <a href="{% url 'basic_app:base' %}">Base page</a><br>
          <a href="{% url 'admin:index' %}">Link to Admin</a><br>
          <a href="{% url 'index' %}">Link to index</a>
       {% endblock %}
  </body>
</html>
